:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: auto;
  padding: var(--spacing);
  background-color: var(--primary-color);
  display: grid;
  grid-template-areas:
    "header school student"
    "header main time"
    "alumni footer footer";
  grid-template-columns: repeat(3, minmax(310px, 1fr));
  grid-template-rows: repeat(3, 300px);
  gap: var(--spacing);
  justify-content: center;
  align-content: center;
}
header, main, footer {
  padding: var(--spacing);
}
h1, h2 {
  text-align: center;
  text-transform: uppercase;
}
h1 {
  font-size: 1.5em;
}
p {
  text-align: justify;
  font-size: 1em;
}
header {
  grid-area: header;
  background-color: var(--blue-color);
  color: var(--primary-color);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.school {
  grid-area: school;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
}
.student {
  grid-area: student;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
}
main {
  grid-area: main;
  color: var(--blue-color);
  border: var(--border);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}
main h2 {
  grid-row: 2 / 3;
  font-size: 1.3em;
}
.time {
  grid-area: time;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
}
.alumni {
  grid-area: alumni;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
}
.alumni,
.school,
.student,
.time {
  background-size: cover;
  background-position: center;
}
footer {
  grid-area: footer;
  background-color: var(--orange-color);
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-content: start;
  justify-content: start;
  gap: var(--spacing);
}
footer h3 {
  font-size: 1.1em;
}
footer button {
  width: 130px;
  height: 50px;
  text-transform: uppercase;
  font-size: 0.6em;
  border: 1px solid var(--primary-color);
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    grid-template-areas: 
      "header school"
      "header main"
      "student time"
      "alumni footer";
    grid-template-columns: repeat(2, minmax(310px, 1fr));
    grid-template-rows: repeat(4, 250px);
  }
  p {
    font-size: 0.8em;
  }
  footer button {
    width: 100px;
    height: 40px;
  }
}
@media (max-width: 767px) {
  body {
    grid-template-areas: 
      "header"
      "header"
      "school"
      "student"
      "main"
      "time"
      "alumni"
      "footer";
    grid-template-columns: 330px;
    grid-template-rows: repeat(8, 250px);
  }
  p {
    font-size: 0.8em;
  }
  footer button {
    width: 100px;
    height: 40px;
  }
}